<div class="breadcrumb">
  <h1>المستخدمين</h1>
  <ul>
    <li><a>ادارة</a></li>
    <li>المستخدمين</li>
  </ul>
  <div class="mr-auto">
    <div class="row">
      <button class="btn ml-2 btn-outline-primary" (click)="open(openModal, 1)">
        اضافة مستخدم
      </button>
    </div>
  </div>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="card mb-4 text-left">
  <div class="card-header text-18 bg-dark text-white">المستخدمين</div>
  <div class="card-body">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">التسلسل</th>
          <th scope="col">الاسم</th>
          <th scope="col">اسم المستخدم</th>
          <th scope="col">الصلاحية</th>
          <th>الاجرائات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users| paginate
          : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: resData?.totalCount
            }; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.userName }}</td>
          <td>
            <span *ngIf="user.roles == 'admin'">ادمن</span>
            <span *ngIf="user.roles == 'contract'">عقد</span>
            <span *ngIf="user.roles == 'assignment'">دائم</span>
            <span *ngIf="user.roles == 'audit'">مدقق</span>
          </td>
          <td>
            <button class="btn btn-info btn-sm mr-1" (click)="open(openModal, 2, user)">
              تعديل
            </button>
            <button class="btn btn-danger btn-sm" (click)="confirm(modalConfirm, user)">
              حذف
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event;get()" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>

<!-- Modal اضافة و تعديل مستخدم -->
<ng-template #openModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
  </div>
  <div class="modal-body text-left">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="name">الاسم الكامل</label>
            <input class="form-control" type="text" formControlName="fullname" id="name" />
          </div>
          <div>
          </div>
          <div class="col-md-12 form-group mb-3">
            <label for="userName">اسم المستخدم</label>
            <input type="text" class="form-control" formControlName="userName" id="userName" />
          </div>
          <div *ngIf="typeMethod == 1" class="col-md-12 form-group mb-3">
            <label for="password">كلمة المرور</label>
            <input type="text" class="form-control" formControlName="password" id="password" />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label for="userName">الصلاحية</label>
            <select class="form-control" formControlName="roles">
              <option value="admin">ادمن</option>
              <option value="contract">عقد</option>
              <option value="assignment">دائم</option>
              <option value="audit">مدقق</option>
            </select>
          </div>


        </div>
      </div>

      <button type="submit" class="btn btn-primary">حفظ</button>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" aria-label="Close" class="btn btn-white" (click)="modal.dismiss('Cross click')">
      الغاء
    </button>
  </div>
</ng-template>


<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف مستخدم</h4>
  </div>
  <div class="modal-body">
    <p>
      <strong>هل انت متاكد من حذف المستخدم
        <span class="text-primary ml-1"> {{ user.name }} </span>
        ؟</strong>
    </p>
    <p>
      اذا كنت متاكدا اضغط على
      <span class="text-danger">تاكيد</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn" (click)="modal.dismiss('cancel')">
      الغاء
    </button>
    <button type="button" ngbAutofocus class="btn btn-danger btn ml-2" (click)="delete()">
      تاكيد
    </button>
  </div>
</ng-template>