<button class="btn btn-outline-primary mx-1" (click)="printMenu()">
  طباعة
</button>
<div id="empolyee" style="display: none">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>الاسم الكامل</th>
            <th>{{employee?.name}}</th>
          </tr>
          <tr>
            <th>التاريخ</th>
            <th>{{employee?.year}} - {{employee?.month}}</th>
          </tr>
          <tr>
            <th>عدد الساعات</th>
            <th>{{employee?.overTime}}</th>
          </tr>
          <tr>
            <th>نوع الموظف</th>
            <th>
              <span *ngIf="employee.type == 1">دائم</span>
              <span *ngIf="employee.type == 2">عقد</span>
            </th>
          </tr>
        </thead>
      </table>

    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>التسلسل</th>
            <th>التاريخ</th>
            <th>وقت الدخول</th>
            <th>وقت الخروج</th>
            <th>الوقت الاضافي</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let date of employeeInfo?.days;let i = index">
            <td>{{i + 1}}</td>
            <td>{{date.date | date : "yyyy-MM-dd"}}</td>
            <td>{{date.entryTime}}</td>
            <td>{{date.exitTime}}</td>
            <td>{{date.overtime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>