<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                تقارير التدقيق
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    كل الموظفين
                                </div>
                                <form class="inline-form" [formGroup]="allEmployeeForm"
                                    (ngSubmit)="allEmployeeReport()">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="year" bindValue="code"
                                                bindLabel="name" [items]="years" [searchable]="true"
                                                placeholder="السنة">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="month" bindValue="code"
                                                bindLabel="name" [items]="months" [searchable]="true"
                                                placeholder="الشهر">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="departmentCode" bindValue="code"
                                                bindLabel="name" [items]="departments" [searchable]="true"
                                                placeholder="القسم">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary">سحب تقرير</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    الدائمين
                                </div>
                                <form class="inline-form" [formGroup]="assignEmployeeForm"
                                    (ngSubmit)="assignEmployeeReport()">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="year" bindValue="code"
                                                bindLabel="name" [items]="years" [searchable]="true"
                                                placeholder="السنة">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="month" bindValue="code"
                                                bindLabel="name" [items]="months" [searchable]="true"
                                                placeholder="الشهر">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="departmentCode" bindValue="code"
                                                bindLabel="name" [items]="departments" [searchable]="true"
                                                placeholder="القسم">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary">سحب تقرير</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    العقود
                                </div>
                                <form class="inline-form" [formGroup]="contractEmployeeForm"
                                    (ngSubmit)="contractEmployeeReport()">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="year" bindValue="code"
                                                bindLabel="name" [items]="years" [searchable]="true"
                                                placeholder="السنة">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="month" bindValue="code"
                                                bindLabel="name" [items]="months" [searchable]="true"
                                                placeholder="الشهر">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="departmentCode" bindValue="code"
                                                bindLabel="name" [items]="departments" [searchable]="true"
                                                placeholder="القسم">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary">سحب تقرير</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    غير المسجلين
                                </div>
                                <form class="inline-form" [formGroup]="undifinedEmployeeForm"
                                    (ngSubmit)="undifinedEmployeeReport()">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="year" bindValue="code"
                                                bindLabel="name" [items]="years" [searchable]="true"
                                                placeholder="السنة">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="month" bindValue="code"
                                                bindLabel="name" [items]="months" [searchable]="true"
                                                placeholder="الشهر">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select class="py-0" formControlName="departmentCode" bindValue="code"
                                                bindLabel="name" [items]="departments" [searchable]="true"
                                                placeholder="القسم">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary">سحب تقرير</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>